
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active{
  background-color: #4ac371;
  color: #fff !important;
}

.dashboard-container{
  background-color: #24cea0;
  padding-top: 3rem;
  border-radius: 8px;
  padding-bottom: 5rem;
}

.card-stats .card-body {
    padding: 1rem 1.5rem;
}

.icon-shape{
  display: inline-flex;
  padding: 14px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.icon{
  width: 3rem;
  height: 3rem;
}
